# Node & Expo
node_modules/
.expo/
dist/
web-build/

# Environment files
.env
.env*.local
server/.env

# Native builds
android/
ios/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

expo-env.d.ts